.sidebar__inner {
  background: #fbf8f2;
  padding: 10px;
}

.sidebar__header {
  background: #006864;

  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    margin: 0 20px;
  }
}